
.ButyTableHeader  div {
    border: 1px solid var(--border-color);
    margin: 5px 51px 5px 20px;
    padding: 5px 50px 5px 50px;
    background: var(--nawigacja);
    color: ghostwhite;
    display: flex;
    justify-content: center;
}
.Button{
    margin: 5px 51px 5px 20px;
}

.ButyTableRow div {
    border: 1px solid var(--border-color);
    margin: 4px 50px 4px 20px;
    padding: 5px 50px 5px 50px;
    display: flex;
    justify-content: center;
}

