.AppHeader{
    background-color: var(--header);
    height: 50px;
    width: 90vw;
    margin: auto;
    display: flex;
    white-space: nowrap;
}
.HeaderLeft{
    height: auto;
    width: auto;
    margin-left: 10px;


}
.HeaderRight{
    margin-left: auto;
    height: auto;
    width: auto;



}
.HeaderRight div {
    margin: 15px 30px 20px;
    display:inline-block;
    font-size: large;
    color: azure;

}
