.Form  div {
    border: 1px solid var(--border-color);
    padding: 20px 20px 20px 20px;
    background: var(--nawigacja);
    color: ghostwhite;
    display: flex;
    justify-content: center;
}
.Button{
    margin: 0px 200px 0px 200px;
}
