
.TableHeader  div {
    border: 1px solid var(--border-color);
    margin: 4px 40px 4px 20px;
    padding: 3px 0px 3px 0px;
    background: var(--nawigacja);
    color: ghostwhite;
    display: flex;
    justify-content: center;
}

.TableRow div {
    border: 1px solid var(--border-color);
    margin: 4px 40px 4px 20px;
    padding: 2px 0px 2px 0px;
    display: flex;
    justify-content: center;

}
